# =========================
# Node.js
# =========================

node_modules/
npm-debug.log*
*.log

# =========================
# Variables de entorno
# =========================

.env
.env.*
!.env.example

# =========================
# Playwright
# =========================

test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Videos, screenshots y traces
*.webm
*.zip

# =========================
# Evidencias personalizadas
# =========================

evidences/

# =========================
# IDEs
# =========================

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# =========================
# Sistema Operativo
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# Cobertura (si la agregas luego)
# =========================

coverage/
.nyc_output/

# =========================
# Archivos temporales
# =========================

*.tmp
*.temp

# QA Reports
reports/history/
reports/qa-summary.json
reports/qa-summary.html
qa-dashboard/history.json